@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="list-unstyled">
        <li>
            <a href="@Url.Action("GenerateDataNewQuiz", "Home")">Generez un nouveau quiz</a>
        </li>
        <li>
            <a href="@Url.Action("ChooseQuiz", "Home")">Passer un quiz</a>
        </li>
        <li>
            <a href="@Url.Action("ReviserQuiz", "Home")">Reviser un quiz</a>
        </li>
        
    </ul>
</div>
