@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Please select how many questions do you want for every section</p>

<form action="/CreateNewQuiz/Index" method="POST">
    <div class="form-group mb-2 row">
       <label class="col-sm-2 col-form-label">User name</label>
       <div class="col-sm-10">
           <input type="text" name="userName" value="A name" />
        </div> 
   </div>
   <div class="form-group mb-2 row">
       <label class="col-sm-2 col-form-label">User email</label>
       <div class="col-sm-10">
           <input type="email" name="userEmail" value="The user email" />
        </div> 
   </div>
    <div class="form-group mb-2 row">
       <label class="col-sm-2 col-form-label">Easy</label>
       <div class="col-sm-10">
            <input type="number" min=0 max="@(ViewBag.howmanyQuestionsEasy)" name="easy" value="0"/>
       </div>     
   </div>
   <div class="form-group mb-2 row">
       <label class="col-sm-2 col-form-label">Medium</label>
       <div class="col-sm-10">
        <input type="number" min=0 max="@(ViewBag.howmanyQuestionsMedium)" name="medium" value="0" />
       </div> 
   </div>
   <div class="form-group mb-2 row">
       <label class="col-sm-2 col-form-label">Hard</label>
       <div class="col-sm-10">
        <input type="number" min=0 max="@(ViewBag.howmanyQuestionsHard)" name="hard" value="0" />
       </div> 
   </div>
    


  <input type="submit" value="Submit" class="btn btn-primary mb-2" />
  <input type="button" value="Cancel" class="btn btn-secondaru mb-2 ms-4" onclick="location.href='@Url.Action("Index","Home")'"/>
 
</form>
